// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:   Museo Slab, sans-serif;
$primary-color: #000000;



ttitle {
  font: 200% lucida-console;
  font-color: #FFFFFF;
  background-color: #2E2EFE;
}

thead {
  font: 300% $font-stack;
  font-color: #FFFFFF;
  background-color: #A09FAC;
  text-align: center;
  
}

tbody {
  font-color: #0A0A2A;
  background-color: #FFFFFF;
  font-size: 180%;
}

table.center { 
  width: 80%;
  margin-left: 10%;
  margin-left: 10%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 500%;
  font-color: #FFFFFF;
}

h2 {
  text-align: center;
  font-size: 300%;
  font-color: #FFFFFF;
}

h3 {
  text-align: center;
  color: #0A0A2A;
  font-size: 200%;
}

h4 {
  text-align: center;
  font-size: 200%;
  color: #0A0A2A;
  }

h5 {
  text-align: center;
  font-size: 100%;
  color: #FFFFFF;
}

h6 {
  text-align: center;
  font-size: 200%;
  font-color: FFFFFF;
}
